body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  height: 100vh;
  background-color: var(--blue);
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

a#login-btn {
  text-decoration: none;
  color: var(--green);
}

a {
  color: var(--purple);
}
h1 {
  color: var(--lilac);
}
span {
  color: black;
}
div#title-box {
  background-color: var(--dark-blue);
}

#ent:hover {
  background-color: var(--dark-blue);
}
#ent {
  background-color: var(--purple);
}

:root {
  --blue: #4c8bf5;
  --phantom-blue: #4c8bf580;
  --orange: #f8c060;
  --lilac: #bdb2ff;
  --purple: #6038c0;
  --dark-blue: #4036b1;
  --green: #adeacb;
  --white: #ffffff;
}
