body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--lilac);
  height: 100%;
  overflow-x: hidden;
}
form {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--purple);
}

a#register-btn {
  text-decoration: none;
  color: var(--green);
}

h1 {
  color: var(--white);
}

span {
  color: black;
}

div#title-box {
  background-color: var(--blue);
}

label {
  color: var(--blue);
}

#ent:hover {
  background-color: var(--dark-blue);
}
#ent {
  background-color: var(--purple);
}

#content-form{
  background-color: rgb(248, 249, 250);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#title-box{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width:768px) {
  body{
    background-color: white;
  }
  #title-box{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  form{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #content-form{
    background-color: var(--white);
    box-shadow: none;
    padding-left:15px !important;
    padding-right: 15px !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

:root {
  --blue: #4c8bf5;
  --phantom-blue: #4c8bf580;
  --orange: #f8c060;
  --lilac: #bdb2ff;
  --purple: #6038c0;
  --dark-blue: #4036b1;
  --green: #adeacb;
  --white: #ffffff;
}
