/* Paleta
#6038C0
#A2EACB
#F8C600
#4C8BF5
#BDB2FF
*/

.row{
    padding-top: 20px; 
}

#calculo {
    width: 60%;
    background-color: #4C8BF5;
    color: #A2EACB;
}

#cabecalho_alimentos {
    color: #A2EACB;
}

.cantina {
    color: #A2EACB;
}

.cantina_col {
    font-size: 30px;
    background-color: #4C8BF5;
}